<article class="card mb-2">
  <div class="card-body">
    <p>{{origin}}</p>
    <p>{{shortURL}}</p>
    <a href="/eliminar/{{_id}}" class="btn btn-danger">Eliminar</a>
    <a href="/editar/{{_id}}" class="btn btn-warning">Editar</a>
    <button
      data-short="{{shortURL}}"
      href="#"
      class="btn btn-info"
    >Copiar</button>
  </div>
</article>